---
import HeaderLink from '../ui/HeaderLink.astro';
import SocialList from '../social/SocialList.astro';
import Logo from '../ui/Logo.astro';
---

<header class="m-0 px-4 shadow-sm">
	<nav class="flex items-center justify-between">
		<h2 class="m-0 text-base">
			<Logo />
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="max-[720px]:hidden">
			<SocialList />
		</div>
	</nav>
</header>
