---
import { getCollection } from "astro:content";

const drafts = await getCollection("draft");
---

<ul>
	{
		drafts.map((draft) => (
			<li>
				<div>
					<strong>{draft.data.title}</strong>
					{draft.data.plannedDate && (
						<i>→ planned for {draft.data.plannedDate}</i>
					)}
				</div>
			</li>
		))
	}
</ul>
