---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const projects = await getCollection('projects');

const sortedProjects = projects.sort((a, b) => {
	if (a.data.featured && !b.data.featured) return -1;
	if (!a.data.featured && b.data.featured) return 1;
	
	const dateA = a.data.startDate ? new Date(a.data.startDate) : new Date(0);
	const dateB = b.data.startDate ? new Date(b.data.startDate) : new Date(0);
	return dateB.getTime() - dateA.getTime();
});

---

<ul>
	{sortedProjects.map(project => (
		<li>
			<strong>{project.data.title}</strong> → <i>{project.data.description}</i>
		</li>
	))}
</ul>
